* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
}

body {
  background-color: $purple;
}

.landing {
  width: 100%;
  font-family: $font;
  margin: 0 auto;
  img{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .back{
    width: 55%;
    position: absolute;
    height: 290px;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  .backtop{
    display: none;
  }
  .backpopcorn {
    display: block;
    width: 100%;
    object-fit: cover;
    left: 0;
    bottom: auto;
    right: 0;
    margin: -50em auto 0 auto;
    z-index: 1;
  }
}

::placeholder {
  color: $white;
  opacity: 1;
}

:-ms-input-placeholder {
 color: $white;
}

::-ms-input-placeholder {
 color: $white;
}

.paragraphs {
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.2em;
}

.special {
  font-weight: 900;
  font-size: 1em;
}

.swal2-styled.swal2-confirm{
  background-color: $purple !important;
}

.swal2-container{
  font-family: $font;
}
@media all and (min-width: 1201px) and (max-width: 1800px){
  .landing {
    .back{
      width: 70%;
      height: 263px;
    }
    .backpopcorn {
      margin: -30em auto 0 auto;
    }
  }
}

@media all and (max-width: 1220px){
  .landing {
    .back{
      width: 70%;
      height: 263px;
    }
    .backpopcorn {
      margin: -25em auto 0 auto;
    }
  }
}

@media all and (max-width: 970px){
  .landing {
    .back{
      width: 70%;
      height: 263px;
    }
    .backpopcorn {
      margin: -18em auto 0 auto;
    }
  }
}

@media all and (max-width: 768px){
  .landing {
    .back{
      width: 100%;
      height: 220px;
    }
    .backpopcorn {
      margin: -13em auto 0 auto;
    }
  }
}


@media all and (max-width: 500px) {
  .landing {
    .back{
      width: 100%;
      top: 165px;
    }
    .backtop {
      display: block;
      width: 100%;
      position: absolute;
      height: 290px;
      object-fit: cover;
      left: 0;
      top: -125px;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
      transform: rotate(-180deg);
    }
    .backpopcorn {
      display: none;
    }
  }
}

@media all and (max-height: 700px){
  .content-start .start {
    height: auto !important;
  }
}