$font: 'Roboto', sans-serif;
$purple: #552E89;
$borde: #5D3EA8;
$white: #FFF;
$link: #00B2FF;

.content-start {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 200;
  .start {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    &__promotional {
      width: 100%;
      display: flex;
      .title {
        width: 100%;
        &__image {
          width: 80%;
        }
      }
      .logoPromotional {
        width: 100%;
        &__image {
          width: 50%;
        }
      }
      .cinema {
        width: 100%;
        margin: .5em 0 .8em;
        &__image {
          width: 30%;
        }
      }
    }
    &__form {
      width: 100%;
      padding: 0;
      .form {
        width: 100%;
        margin: 0 auto;
        &__title {
          width: 100%;
          margin: 0 0 1em 0;
          .title {
            width: 50%;
          }
        }
        &__questions {
          width: 100%;
          .content-question {
            width: 80%;
            color: $white;
            .question {
              &__user {
                width: 100%;
                height: 45px;
                margin: 0 0 .5em 0;
                border: 0;
                font-size: 1.1em;
                color: $white;
                border-radius: 6px;
                background-color: rgba($white, 0.16);
                -webkit-appearance: none;
                &--submit {
                  width: 100%;
                  margin: 0 0 0 0;
                  height: 50px;
                  font-size: 1.4em;
                  color: $white;
                  background-color: $borde;
                  -webkit-appearance: none;
                  outline: none;
                }
              }
            }
          }
          .separator {
            width: 80%;
            margin: .5em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &__image {
              width: 30%;
              height: 20px;
              background: url('../images/separador.png');
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
          .others {
            width: 80%;
            margin: 0 auto;
            .other {
              height: 100%;
              a {
                width: 100%;
                height: 55px;
                padding: 0;
                border-radius: 6px;
                overflow: hidden;
                text-decoration: none;
              }
              #loginWithFacebook {
                margin: 0 0 .5em 0;
              }
              &__bot {
                width: 100%;
                height: 100%;
                color: $borde;
                border-radius: 6px;
                border: 2px solid $borde;
                background-color: $white;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $font;
                font-weight: 600;
                font-size: 1.4em;
              }
            }
          }
        }
        &__terms {
          width: 100%;
          margin: 1em 0 0;
          font-family: $font;
          color: $white;
          .accept {
            width: 80%;
            margin: 0 auto .5em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            input[type=checkbox] {
              position: relative;
              cursor: pointer;
              margin-top: -.4em;
            }
            input[type=checkbox]:before {
              content: "";
              display: block;
              position: absolute;
              width: 15px;
              height: 15px;
              top: 0;
              left: 0;
              background-color: $white;
            }
            input[type=checkbox]:checked:before {
              content: "";
              display: block;
              position: absolute;
              width: 15px;
              height: 15px;
              top: 0;
              left: 0;
              background-color:#1E80EF;
            }
            input[type=checkbox]:checked:after {
              content: "";
              display: block;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 2px 2px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
              top: 2px;
              left: 5px;
            }
            &__text {
              font-family: $font;
              margin: 0 0 0 1em;
              font-weight: 200;
              .link {
                text-decoration: none;
                color: $link;
                font-weight: 200;
              }
            }
          }
          .conditions {
            width: 80%;
            margin: 0 auto;
            &__text {
              text-align: justify;
              font-size: .75em;
              font-weight: 100;
              line-height: 1.1em;
              .link {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}

#formLoading {
  display: none;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: block;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media all and (min-width: 1201px) and (max-width: 1800px){
  .content-start {
    .start {
      &__form {
        .form {
          width: 80%;
          &__title {
            .title {
              width: 60%;
            }
          }
          &__questions {          
            .content-question {
              width: 100%;
              .question {
                &__user {
                  //font-size: 1.2em;
                  &--submit {
                    font-size: 1.2em;
                  }
                }
              }
            }
            .separator {
              &__image {
                width: 30%;
                background-size: 100%;
              }
            }
            .others {
              width: 100%;
              .other {
                &__bot {
                  font-size: 1.2em;
                }
              }
            }
          }
          &__terms {
            width: 100%;
            .accept {
              width: 100%;
              &__text {
                font-family: $font;
                font-size: .9em;
                margin: 0 0 0 1em;
                font-weight: 200;
              }
            }
            .conditions {
                width: 100%;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 871px) and (max-width: 1200px){
  .content-start {
    .start {
      &__promotional {
        .title {
          &__image {
            width: 80%;
          }
        }
        .logoPromotional {
          &__image {
            width: 50%;
          }
        }
        .cinema {
          &__image {
            width: 30%;
          }
        }
      }
      &__form {
        padding: 0;
        .form {
          width: 80%;
          &__title {
            .title {
              width: 100%;
            }
          }
          &__questions {          
            .content-question {
              width: 100%;
              .question {
                &__user {
                  font-size: 1em;
                  &--submit {
                    font-size: 1em;
                  }
                }
              }
            }
            .separator {
              &__image {
                width: 50%;
                background-size: contain;
              }
            }
            .others {
              width: 100%;
              .other {
                &__bot {
                  font-size: 1em;
                }
              }
            }
          }
          &__terms {
            width: 100%;
            .accept {
              width: 100%;
              margin: 0 0 .5em 0;
              input[type=checkbox] {
                margin-top: -.1em;
              }
              &__text {
                font-family: $font;
                font-size: .75em;
                margin: 0 0 0 .6em;
                font-weight: 200;
              }
            }
            .conditions {
              width: 100%;
              &__text {
                font-size: .65em;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 601px) and (max-width: 870px){
  .content-start {
    .start {
      &__promotional {
        .title {
          &__image {
            width: 100%;
          }
        }
        .logoPromotional {
          &__image {
            width: 70%;
          }
        }
        .cinema {
          &__image {
            width: 40%;
          }
        }
      }
      &__form {
        margin: 1em 0;
        padding: 0;
        .form {
          width: 80%;
          &__title {
            .title {
              width: 100%;
            }
          }
          &__questions {          
            .content-question {
              width: 100%;
              .question {
                &__user {
                  font-size: 1em;
                  &--submit {
                      font-size: 1em;
                  }
                }
              }
            }
            .separator {
              margin: .5em 0;
              &__image {
                width: 40%;
                background-size: contain;
              }
            }
            .others {
              width: 100%;
              .other {
                &__bot {
                  font-size: 1em;
                }
              }
            }
          }
          &__terms {
            width: 100%;
            .accept {
              width: 100%;
              margin: 0 0 .5em 0;
              input[type=checkbox] {
                margin-top: -.1em;
              }
              &__text {
                font-family: $font;
                font-size: .6em;
                margin: 0 0 0 1em;
                font-weight: 200;
              }
            }
            .conditions {
              width: 100%;
              &__text {
                font-size: .7em;
                font-weight: 100;
                line-height: 1.2em;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  .content-start {
    .start {
      &__promotional {
        margin: 2em 0 0 0;
        .title {
          &__image {
            width: 80%;
          }
        }
        .logoPromotional {
          &__image {
            width: 60%;
          }
        }
        .cinema {
          &__image {
            width: 40%;
          }
        }
      }
      &__form {
        margin: 1.5em auto;
        .form {
          width: 90%;
          &__title {
            .title {
              width: 100%;
            }
          }
          &__questions {
            .content-question {
              width: 100%;
              .question {
                &__user {
                  margin: 0 0 .5em;
                  font-size: 1em;
                  &--submit {
                    margin: 0;
                    font-size: 1.2em;
                  }
                }
              }
            }
            .separator {
              width: 100%;
              &__image {
                width: 40%;
                background-size: 100%;
              }
            }
            .others {
              width: 100%;
              .other {
                &__bot {
                  font-size: 1.2em;
                }
              }
            }
          }
          &__terms {
            .accept {
              width: 100%;
              margin: 0 0 .5em 0;
              &__text {
                margin: 0 0 0 .5em;
                font-size: .8em;
              }
            }
            .conditions {
              width: 100%;
              &__text {
                font-size: .65em;
                font-weight: 100;
                line-height: 1.1em;
              }
            }
          }
        }
      }
    }
  }
}