$font: 'Roboto', sans-serif;
$purple: #552E89;
$borde: #5D3EA8;
$white: #FFF;
$link: #00B2FF;

.content-start {
    width: 100%;
    box-sizing: border-box;
    //position: absolute;
    //top: 0;
    //left: 0;
    z-index: 2;
    .header {
        width: 100%;
        margin: 2em auto;
        box-sizing: border-box;
        align-items: center;
        position: relative;
        //z-index: 100000;
        &__logo {
            display: flex;
            align-items: center;
            .content-logo {
                width: 100%;
                .logo {
                    padding: 0 0 0 7em;
                    margin-bottom: -1em;
                    width: 100%;
                    &__image {
                        width: 80%;
                    }
                }
            }
        }
        &__title {
            display: flex;
            align-items: center;
            .content-title {
                width: 100%;
                .title {
                    width: 100%;
                    display: flex;
                    padding: 0 .5em 0 0;
                    justify-content: center;
                    &__image {
                        width: 100%;
                    }
                }
            }
        }
        &__logocinema {
            display: flex;
            align-items: center;
            .content-logocinema {
                width: 100%;
                .logocinema {
                    width: 100%;
                    display: flex;
                    padding: 0 8em 0 0;
                    margin: -1em 0 0 0;
                    justify-content: flex-end;
                    &__image {
                        width: 80%;
                    }
                }
            }
        }
    }
    .content-principal {
        width: 100%;
        //margin: 5em 0 0 0;
        .principal {
            width: 100%;
            //height: 860px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            &__select {
                width: 100%;
                margin: 0 auto;
                // position: absolute;
                z-index: 2;
                .content-ticket {
                    width: 100%;
                    display: flex;
                    .ticket {
                        width: 100%;
                        &__imageClain {
                            width: 80%;
                        }
                        &__imageProduct {
                            width: 280px;
                            //margin: -3em 0 0 0;
                        }
                    }
                }
                .content-combo {
                    width: 100%;
                    display: flex;
                    .combo {
                        width: 100%;
                        &__imageClain {
                            width: 80%;
                        }
                        &__imageProduct {
                            width: 280px;
                            //margin: -3em .5em 0 0;
                            height: auto;
                        }
                    }
                }
            }
            .line {
                width: 100%;
                margin: 0 0 14em 0;
                position: relative;
                z-index: 1;
                &__image {
                    width: 50%;
                    height: auto;
                }
            }
        }
    }
    .content-cinema {
        width: 100%;
        //height: 1280px;
        margin: 4em auto 0;
        position: relative;
        .cinema {
            width: 100%;
            position: relative;
            z-index: 2;
            .title {
                width: 100%;
                &__image {
                    width: 60%;
                    height: auto;
                }
            }
            .content-map {
                width: 100%;
                margin: 2em 0 0 0;
                .map {
                    width: 100%;
                    &__image {
                        cursor: pointer;
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .line {
                display: none;
            }
            .conditions {
                width: 70%;
                margin: 2em auto;
                text-align: center;
                font-family: $font;
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
        .backmap {
            width: 100%;
            bottom: 0;
            position: absolute;
            z-index: 1;
            &__image {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

@media all and (min-width: 1201px) and (max-width: 1800px){
    .content-start {
        .header {
            width: 100%;
            margin: 3em 0 2em 0;
            &__logo {
                .content-logo {
                    width: 100%;
                    .logo {
                        padding: 0 0 0 7em;
                        width: 100%;
                        // &__image {
                        //     width: 80%;
                        // }
                    }
                }
            }
            &__title {
                .content-title {
                    .title {
                        // &__image {
                        //     width: 90%;
                        // }
                    }
                }
            }
            &__logocinema {
                .content-logocinema {
                    .logocinema {
                        padding: 0 8em 0 0;
                        // &__image {
                        //     width: 75%;
                        // }
                    }
                }
            }
        }
        .content-principal {
           // margin: 4em 0 0 0;
            .principal {
                .line {
                    &__image {
                        width: 50%;
                    }
                }
            }
        }
        .content-cinema {
            height: 1130px;
            margin: 2em auto 0;
            .cinema {
                .title {
                    &__image {
                        width: 60%;
                    }
                }
                .content-map {
                    margin: 2em 0 0 0;
                    .map {
                        &__image {
                            width: 100%;
                        }
                    }
                }
                .conditions {
                    width: 65%;
                }
            }
        }
    }
}

@media all and (max-width: 991px){

    .content-start .header__logo .content-logo .logo{
        padding: 0;

        img{
            margin: 0 auto;
            display: block;
            width: 60%;
        }
    }

    .content-start .content-cinema .cinema .title__image {
        width: 70%;
    }



}

// @media all and (min-width: 871px) and (max-width: 1200px){
//     .content-start {
//         .header {
//             margin: 3em auto 2em;
//             &__logo {
//                 .content-logo {
//                     .logo {
//                         padding: 0 0 0 3em;
//                         &__image {
//                             width: 80%;
//                         }
//                     }
//                 }
//             }
//             &__logocinema {
//                 .content-logocinema {
//                     .logocinema {
//                         padding: 0 3em 0 0;
//                         &__image {
//                             width: 60%;
//                         }
//                     }
//                 }
//             }
//         }
//         .content-principal {
//             margin: 4em 0 0 0;
//             .principal {
//                 height: 702px;
//                 .line {
//                     margin: 0 0 11em 0;
//                     z-index: 1;
//                     &__image {
//                         width: 70%;
//                     }
//                 }
//             }

//         }
//         .content-cinema {
//             height: 1150px;
//             margin: 2em auto 0;
//             .cinema {
//                 .title {
//                     &__image {
//                         width: 80%;
//                     }
//                 }
//                 .content-map {
//                     margin: 2em 0 0 0;
//                 }
//                 .conditions {
//                     width: 75%;
//                 }
//             }
//         }
//     }
// }

@media all and (min-width: 871px) and (max-width: 992px){
    .header {
        margin: 6em 0 2em 0;
        &__logo {
            .content-logo {
                .logo {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    &__image {
                        width: 60%;
                    }
                }
            }
        }
        &__title {
            .content-title {
                margin: 1em 0 0 0;
                .title {
                    &__image {
                        width: 80%;
                    }
                }
            }
        }
        &__logocinema {
            .content-logocinema {
                .logocinema {
                    justify-content: center;
                    &__image {
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 601px) and (max-width: 870px){
    .content-start {
        .header {
            //margin: 6em 0 2em 0;
            &__logo {
                .content-logo {
                    .logo {
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        &__image {
                            width: 60%;
                        }
                    }
                }
            }
            &__title {
                .content-title {
                    margin: 1em 0 0 0;
                    .title {
                        &__image {
                            width: 80%;
                        }
                    }
                }
            }
            &__logocinema {
                //display: none;
            }
        }
        // .content-principal {
        //     margin: 5em 0 0 0;
        //     .principal {
        //         height: 1970px;
        //         align-items: center;
        //         &__select {
        //             .content-ticket {
        //                 .ticket {
        //                     &__imageProduct {
        //                         margin: -11em 0 0 0;
        //                     }
        //                 }
        //             }
        //             .content-combo {
        //                 width: 100%;
        //                 .combo {
        //                     width: 100%;
        //                     &__imageClain {
        //                         width: 100%;
        //                     }
        //                     &__imageProduct {
        //                         margin: -6em .5em 0 0;
        //                     }
        //                 }
        //             }
        //         }
        //         .line {
        //             margin: 0 0 11em 0;
        //             &__image {
        //                 width: 100%;
        //             }
        //         }
        //     }
        // }
        // .content-cinema {
        //     height: 1100px;
        //     .cinema {
        //         .title {
        //             &__image {
        //                 width: 100%;
        //             }
        //         }
        //         .content-map {
        //             margin: 1em 0 0 0;
        //             .map {
        //                 &__image {
        //                     width: 100%;
        //                 }
        //             }
        //         }
        //         .conditions {
        //             width: 100%;
        //         }
        //     }
        // }
    }
}

@media all and (max-width: 500px) {

    .content-start .header__title .content-title .title__image {
        width: 80%;
    }


    .content-start .content-principal .principal__select .content-ticket .ticket__imageProduct {
        width: 220px;
    }

    .content-start .content-principal .principal__select .content-combo .combo__imageProduct {
        width: 230px;
    }


    .content-ticket{
        margin-bottom: 50px;
    }
    .content-start .content-principal .principal__select .content-ticket .ticket__imageClain {
        width: 100%;
    }


    .content-start {
        .header {
            margin: 3em 0;
            &__logo {
                .content-logo {
                    .logo {
                        display: flex;
                        justify-content: center;
                        padding: 0;
                        &__image {
                            width: 220px !important; 
                        }
                    }
                }
            }
            &__title {
                margin: 2em auto 0;
            }
            &__logocinema {
                //display: none;
            }
        }
        .content-principal {
           // margin: 3em 0 0 0;
            .principal {
                height: 970px;
                display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                &__select {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    margin-top: -50px;
                    .content-ticket {
                        .ticket {
                            &__imageProduct {
                                //margin: -5em 0 0 0;
                            }
                        }
                    }
                    .content-combo {
                        width: 100%;
                        .combo {
                            width: 100%;
                            &__imageClain {
                                width: 100%;
                            }
                            &__imageProduct {
                                //margin: -3em .5em 0 0;
                            }
                        }
                    }
                }
                .line {
                    margin: 0 0 5em 0;
                    &__image {
                        width: 100%;
                    }
                }
            }
        }
        .content-cinema {
            //height: 0px;
            margin: 2em auto 0;
            .cinema {
                .title {
                    &__image {
                        width: 100%;
                    }
                }
                .content-map {
                    margin: 1em 0 0 0;
                }
                .line {
                    display: block;
                    width: 100%;
                    margin: 1em auto;
                    &__image {
                        width: 100%;
                        height: auto;
                    } 
                }
                .conditions {
                    width: 100%;
                    margin: 0 0 1em 0;
                    color: $white;
                    a {
                        color: $white;
                    }
                }
            }
            .backmap {
                display: none;
            }
        }
    }
}