@import '_reset.scss';

$font: 'Roboto', sans-serif;
$purple: #552E89;
$lightPurple: #5D3EA8;
$white: #FFF;
$backModal: #552E89;
$link: #00B2FF;

@import '_basics.scss';
@import '_landing.scss';
@import '_thanks.scss';
@import '_modal.scss';